{% extends 'cine/index.html' %}
{% load staticfiles %}
{% block enca %}
Pelicula
{% endblock enca %}
{% block img %}
{% static 'img/3.jpg' %}
{% endblock img %}
{% block body %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
        <div class="form-group">
            {{ pelicula_form.as_p }}
        </div>
            <button type="submit" name="button" class="btn btn-primary">Guardar</button>
        {% endif %}

    </form>

{% endblock body %}
