{% extends 'cine/index.html' %}
{% load staticfiles %}
{% block titulo %}
Funciones
{% endblock titulo %}
{% block enca %}
Funciones
{% endblock enca %}

{% block img %}
{% static 'img/4.jpg' %}
{% endblock img %}
{% block body %}
<div class="float-right">

    <a class="btn btn-primary" href="{% url 'crear_funcion' %}" role="button">NUEVA FUNCION</a>
    <hr>
</div>
    {% if funciones %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Salas</th>

                    <th scope="col">Horario</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for funcion in funciones %}
                    <tr>
                        <td>{{ funcion.pelicula_id }}</td>

                        <td>{% for sala in funcion.sala_id.all %}
                            {{ sala.nombre }}
                        {% endfor %}
                        </td>
                        <td>{{ funcion.horario }}</td>
                        <td>{{ funcion.descripcion }}</td>
                        <td>
                            <a href="{% url 'editar_funcion' funcion.id %}">Editar</a>
                            <a href="{% url 'eliminar_funcion' funcion.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No existen funciones</h1>
    {% endif %}
{% endblock body %}
