
{% extends 'cine/index.html' %}
{% load staticfiles %}
{% block titulo %}
Salas
{% endblock titulo %}
{% block enca %}
Salas
{% endblock enca %}
{% block img %}
{% static 'img/2.jpg' %}
{% endblock img %}
{% block body %}
<div class="float-right">

    <a class="btn btn-primary" href="{% url 'crear_sala' %}" role="button">NUEVA SALA</a>
    <hr>
</div>
    {% if salas %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Asientos</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sala in salas %}
                    <tr>
                        <td>{{ sala.nombre }}</td>
                        <td>{{ sala.descripcion }}</td>
                        <td>{{ sala.asientos }}</td>
                        <td>
                            <a href="{% url 'editar_sala' sala.id %}">Editar</a>
                            <a href="{% url 'eliminar_sala' sala.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No existen salas</h1>
    {% endif %}
{% endblock body %}
